<div class="pinCard">
  <%= image_tag pin.pin_image.url, width: 300 if pin.pin_image.url %>

  <h2><%= link_to pin.title, pin %></h2>

  <br>

  <p><%= pin.description %></p>

  <br>
  
  <p>
    <strong>By</strong>
    <%= pin.user.email %>
  </p>

  <%#= pin.tag_list %>
  <%#= pin.category_list %>

  <br>

  <%= render 'pins/favourite_button', pin: pin %>
  <br><br>
  <%= render 'pins/like_button', pin: pin %>

</div>
