<%
  set_meta_tags og: {
    title: "Пины",
    image: request.base_url + "/shared/share.jpg"
  }
%>

<%# content_for :head do %>
<%# end %>

<p style="color: green"><%= notice %></p>

<h1><%= title "Пины" %></h1>
<% Pin.tag_counts_on(:tags).each do |tag| %>
  <div>
    <%= link_to tagged_pins_path(tag.name) do %>
      <%= tag.name %> (<%= tag.taggings_count %>)
    <% end %>
  </div>
<% end %>

<%= link_to "New pin", new_pin_path %>

<div id="pins">
  <% @pins.each do |pin| %>

    <%#= link_to pin, class: 'pinCard' do %>
      <%= render pin %>
    <%# end %>

  <% end %>
</div>
