<p style="color: green"><%= notice %></p>

<%= render @attachment %>

<div>
  <%= link_to "Edit this attachment", edit_attachment_path(@attachment) %> |
  <%= link_to "Back to attachments", attachments_path %>

  <%= link_to "Destroy this attachment", attachment_path(@attachment, redirect_to: attachments_path, format: :html), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</div>
