<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= @title %>
    <%#= yield :head %>

    <%= display_meta_tags site: "Тестовый сайт", reverse: true %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'menubar' %>
    <%= render 'cartbar' %>

    <section class="contentArea">
      <%= yield %>
    </section>
    
    <%= render 'footer' %>
  </body>
</html>
